@charset "UTF-8";
//置中
@mixin both-center() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

//page background
@mixin main-page() {
    background-image: url(../../../../image/webend_admin_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

$main-color:#F26531;
$white:#FCFAF2;
body {
    font-family: Microsoft JhengHei !important;
    .page {
        @include main-page();
        .title {
            color: $white;
            font-weight: bold;
            font-size: 3em;
            text-align: center;
            margin: 10%;
        }
    }
}

@media (min-width: 992px) {
    body {
        &.framework7-root {
            width: 50%;
            margin: 0 auto;
            box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.9), 4px 4px 6px rgba(5, 5, 5, 0.7), 6px 6px 12px rgba(5, 5, 5, 0.7);
            background: #252525;
            background-image: url(../../../../image/iscar_bg.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    }
}

.popup {
    line-height: 1.6;
    background: rgba(255, 255, 255, .95);
    &.popup-about,
    &.popup-privacy {
        .close-popup {
            position: absolute;
            font-size: 2em;
            top: 1%;
            right: 4%;
            color: #333;
        }
        .content-block {
            a {
                color: #6d6d72;
            }
        }
    }
}


/* =========================================== */


/*     視窗標題                                */


/* =========================================== */

.modal-title {
    color: $main-color;
    font-weight: bold;
    /*border-bottom: 1px solid #999;*/
    + .modal-text {
        margin-top: 2%;
        font-size: 12pt;
    }
}

.modal-inner:after {
    background-color: #999;
}

.modal-button {
    background: #ddd;
    font-weight: bold;
    &.active-state {
        background-color: #aaa;
    }
}

[data-page="login"] {
    z-index: 5000;
    .page {
        //@include main-page();
    }
    .navbar {
        color: $white;
        background: none;
    }
    .backBtn {
        position: absolute;
        top: 0.5%;
        left: 2%;
        z-index: 2;
        font-size: 2.1em;
        width: 44px;
        height: 44px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 100%;
        a {
            color: #fff;
            width: 100%;
            height: 100%;
            @include both-center();
        }
    }
    .page-content {
        padding-top: 0;
    }
    .login-block {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 25%;
        margin-bottom: 0;
        z-index: 2;
        background: #202020;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        .login_note {
            color: silver;
            margin-top: 6%;
            text-align: center;
            font-size: 1.2em;
        }
    }
    .line-block {
        padding-top: 2.5%;
    }
    .line {
        height: 1px;
        background: #444;
    }
    .login-title {
        text-align: center;
        color: #888;
    }
    .fbLoginBtn {
        background: #4c69ba;
        background: -webkit-linear-gradient(#4c69ba, #3b55a0);
        background: linear-gradient(rgba(76, 105, 186, 0.95), rgba(76, 105, 186, 0.9));
        color: #FFF;
        font-weight: bold;
        margin-top: 15px;
        display: block;
        &:active {
            background: #4c69ba;
            background: -webkit-linear-gradient(#4c69ba, #3b55a0);
            background: linear-gradient(#334785, #29396a);
            color: #CCC;
        }
    }
    .loginBtn {
        background: $main-color;
        background: -webkit-linear-gradient($main-color, #bb6531);
        background: linear-gradient(rgba(242, 101, 49, 0.95), rgba(242, 101, 49, 0.9));
        color: #FFF;
        font-weight: bold;
        margin-top: 15px;
        display: block;
        &:active {
            background: #c26531;
            background: -webkit-linear-gradient(#c26531, #9b6531);
            background: linear-gradient(#c26531, #9b6531);
            color: #CCC;
        }
    }
    .fa {
        margin-right: 3%;
    }
    .aboutLink {
        font-weight: bold;
        font-size: 11pt;
        position: absolute;
        bottom: 7%;
        color: gainsboro;
        text-decoration: underline;
    }
    .privacyLink {
        font-weight: bold;
        font-size: 11pt;
        position: absolute;
        bottom: 7%;
        left: 20%;
        color: gainsboro;
        text-decoration: underline;
    }
    .serverLogin {
        font-weight: bold;
        font-size: 11pt;
        position: absolute;
        bottom: 7%;
        right: 6%;
        color: gainsboro;
        text-decoration: underline;
    }
    .id-block {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 5%;
        span {
            font-size: 11pt;
            color: #555;
        }
    }
    .button {
        border: 0;
        border-radius: 2px;
        width: 40%;
        margin: 4% auto;
        /*陰影*/
        box-shadow: 2px 2px 2px rgba(0%, 0%, 0%, 0.9), 4px 4px 6px rgba(0%, 0%, 0%, 0.7), 6px 6px 12px rgba(0%, 0%, 0%, 0.7);
    }
    .explanation-block {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .ex-item {
        text-align: center;
        font-size: 22pt;
        color: #fff;
    }
    .ex-item-text {
        margin-top: 83%;
    }
    .ex-item {
        &.item1 {
            background: url(img/ex1.png) no-repeat top;
            background-size: 100% auto;
        }
        &.item2 {
            background: url(img/ex2.png) no-repeat top;
            background-size: 100% auto;
        }
        &.item3 {
            background: url(img/ex3.png) no-repeat top;
            background-size: 100% auto;
        }
        &.item4 {
            background: url(img/ex4.png) no-repeat top;
            background-size: 100% auto;
        }
    }
}